.confirmation-message {
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
  }
  
  .success-message {
    background-color: #4caf50; /* Vert */
  }
  
  .error-message {
    background-color: #f44336; /* Rouge */
  }
  