.danger { background-color: rgb(255, 171, 171) !important; color: white; }
.primary { background-color: rgb(169, 169, 255) !important; color: white; }
.accent { background-color: rgb(168, 255, 168) !important; color: white; }
.warn { background-color: rgb(255, 196, 0) !important; color: white; }
