<mat-card class="cardWithShadow overflow-hidden">
  <mat-card-content>
    <mat-card-title class="m-b-4">Mes Rendez-vous</mat-card-title>
    <!-- <mat-card-subtitle class="mat-mdc-card-subtitle">Total : {{ dataSource.length }}</mat-card-subtitle> -->
  </mat-card-content>

  <!-- Zone de filtrage -->
  <div class="filter-container d-flex gap-3">
    <!-- Nom du vehicule -->
    <mat-form-field appearance="outline" class="flex-grow-1">
      <mat-label>Nom du véhicule</mat-label>
      <input matInput [(ngModel)]="filterValues.vehicle" placeholder="Rechercher un véhicule">
    </mat-form-field>

    <!-- Nom du vehicule -->
    <mat-form-field appearance="outline" class="flex-grow-1">
      <mat-label>Nom du service</mat-label>
      <input matInput [(ngModel)]="filterValues.services" placeholder="Rechercher un service">
    </mat-form-field>

    <!-- Date minimum -->
    <mat-form-field appearance="outline">
      <mat-label>Date minimum</mat-label>
      <input matInput [matDatepicker]="pickerMin" [(ngModel)]="filterValues.dateMin"
        placeholder="Sélectionner une date">
      <mat-datepicker-toggle matSuffix [for]="pickerMin"></mat-datepicker-toggle>
      <mat-datepicker #pickerMin></mat-datepicker>
    </mat-form-field>

    <!-- Date maximum -->
    <mat-form-field appearance="outline">
      <mat-label>Date maximum</mat-label>
      <input matInput [matDatepicker]="pickerMax" [(ngModel)]="filterValues.dateMax"
        placeholder="Sélectionner une date">
      <mat-datepicker-toggle matSuffix [for]="pickerMax"></mat-datepicker-toggle>
      <mat-datepicker #pickerMax></mat-datepicker>
    </mat-form-field>

    <!-- Statut -->
    <mat-form-field appearance="outline">
      <mat-label>Statut</mat-label>
      <mat-select [(ngModel)]="filterValues.status">
        <mat-option value="">Toutes</mat-option>
        <mat-option value="En attente">En attente</mat-option>
        <mat-option value="Confirmé">Confirmé</mat-option>
        <mat-option value="En cours">En cours</mat-option>
        <mat-option value="Terminé">Terminé</mat-option>
        <mat-option value="Annulé">Annulé</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Bouton Filtrer -->
    <button mat-raised-button color="primary" (click)="applyFilter()">
      Filtrer
    </button>
  </div>

  <div class="table-responsive">

    <table mat-table [dataSource]="pagedData" class="w-100">

      <!-- VEhicule Column -->
      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14"> Vehicule </th>
        <td mat-cell *matCellDef="let appointment">
          <div class="d-flex align-items-center">
            <h6 class="mat-subtitle-1 text-truncate-2 f-s-14 lh-sm">{{ appointment.vehicle?.brand }}</h6>
          </div>
        </td>
      </ng-container>

      <!-- Rendez-vous Column -->
      <ng-container matColumnDef="services">
        <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14"> Services </th>
        <td mat-cell *matCellDef="let appointment">
          <p>
            <ng-container *ngFor="let service of appointment.services; let last = last">
              {{ service.name }}<span *ngIf="!last">, </span>
            </ng-container>
          </p>
        </td>
      </ng-container>

      <!-- Rendez-vous Column -->
      <ng-container matColumnDef="appointmentDate">
        <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14"> Date du rendez-vous </th>
        <td mat-cell *matCellDef="let appointment">{{ appointment.appointmentDate | date: 'dd/MM/yyyy HH:mm' }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14"> Statut </th>
        <td mat-cell *matCellDef="let appointment">
          <span class="f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill"
            [ngClass]="['bg-light-' + getStatusColor(appointment.status), 'text-' + getStatusColor(appointment.status)]">
            {{ appointment.status }}
          </span>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu"
            aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <a class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8"
              [routerLink]="['/appointments/detailClient', element._id]">
              <i-tabler name="edit" class="icon-18"></i-tabler>
              <span>En savoir plus</span>
            </a>
            <a class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8"
              [routerLink]="['/appointments/edit', element._id]">
              <i-tabler name="edit" class="icon-18"></i-tabler>
              <span>Modifier</span>
            </a>
            <a href="javascript:void(0)"
              class="d-flex align-items-center text-decoration-none p-y-10 p-x-16 mat-body-1 gap-8"
              (click)="confirmDelete(element._id)">
              <i-tabler name="trash" class="icon-18"></i-tabler>
              <span>Annuler</span>
            </a>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- LOADING -->
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>

  <!-- Pagination -->
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 0">Previous</button>
    <span *ngFor="let pageNumber of getPageNumbers()">
      <button (click)="goToPage(pageNumber)" [class.active]="currentPage === pageNumber - 1">
        {{ pageNumber }}
      </button>
    </span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Next</button>
  </div>
</mat-card>