<h2>Ajouter une pièce</h2>
<form #pieceForm="ngForm" (ngSubmit)="addPiece()">
    <div>
        <label for="name">Pièce :</label>
        <input type="text" id="name" name="name" [(ngModel)]="newPiece.name" required />
    </div>
    <div>
        <label for="category">Catégorie :</label>
        <select id="category" name="category" [(ngModel)]="newPiece.category" required>
        <option value="Moteur">Moteur</option>
        <option value="Système de freinage">Système de freinage</option>
        <option value="Electrique et Electronique">Électrique et Électronique</option>
        <option value="Echappement">Échappement</option>
        </select>
    </div>
    <div>
        <label for="description">Description :</label>
        <textarea id="description" name="description" [(ngModel)]="newPiece.description" ></textarea>
      </div>
    <div>
        <label for="price">Prix :</label>
        <input type="text" id="price" name="price" [(ngModel)]="newPiece.price" required />
    </div>
    <div>
        <label for="stock">Nombre de Stock :</label>
        <input type="number" id="stock" name="stock" [(ngModel)]="newPiece.stock" required />
    </div>
    <div>
        <label for="createDate">Date :</label>
        <input type="date" id="createDate" name="createDate" [(ngModel)]="newPiece.createDate" required />
    </div>
    <button type="submit">Ajouter</button>
</form>