.appointments-container {
    max-width: 900px;
    margin: auto;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  mat-chip {
    font-weight: bold;
  }
  
  button {
    margin-right: 5px;
  }
  