<div class="card" *ngIf="appointment">
  <div class="card__title">
    <div class="icon" routerLink="/appointments/allClient">
      <a><i class="fa fa-arrow-left"></i></a>
    </div>
    <h3>Détail Rendez-vous</h3>
  </div>
  <div class="card__body">
    <div class="half">
      <div class="featured_text">
        <h1>{{ appointment.vehicle?.brand }}</h1>
        <p class="model">{{ appointment.vehicle?.model }}</p>
        <p class="licensePlate">{{ appointment.vehicle?.licensePlate }}</p>
      </div>
      <!-- <div class="image">
          <img src="https://images-na.ssl-images-amazon.com/images/I/613A7vcgJ4L._SL1500_.jpg" alt="">
        </div> -->
    </div>
    <div class="half">
      <div class="services">
        <h4>Les services demandés pour votre véhicule:</h4>
        <ul *ngFor="let service of appointment.services" class="services-list">
          <li class="service-item">
            <span class="service-name"> {{ service.name }}
            </span>
            <span class="service-price">{{ service.price | currencyAr}}</span>

            <span class="service-description">{{ service.description }} d'une durée de {{ service.estimatedDuration }}
              h.</span>
            <div *ngIf="service.pieces && service.pieces.length > 0" class="pieces">
              <div class="pieces-header">
                <i-tabler name="settings" class="icon-18 m-r-4"></i-tabler>
                <h6>Les pièces utiles :</h6>
              </div>
              <ul *ngFor="let piece of service.pieces" class="pieces-list">
                <li class="piece-item">
                  <span class="piece-name">{{ piece.name }}</span> :
                  <span class="piece-description">{{ piece.description }}</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="appointmentDate">
        <i-tabler name="calendar" class="icon-18"></i-tabler>
        <h6>Date du rendez-vous le</h6>
        <p>{{ appointment.appointmentDate | date:'EEEE d MMMM y à HH:mm' }}</p>
      </div>
      <div>
        <span class="f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill"
          [ngClass]="['bg-light-' + getStatusColor(appointment.status), 'text-' + getStatusColor(appointment.status)]">
          {{ appointment.status }}
        </span>
      </div>
      <!-- <span class="stock"><i class="fa fa-pen"></i> In stock</span> -->
      <div class="reviews">
        <ul class="stars">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star-o"></i></li>
        </ul>
        <span>(64 reviews)</span>
      </div>
    </div>
  </div>
  <div class="card__footer">
    <div class="recommend">
      <p>Recommandé par</p>
    </div>
  </div>
</div>